<section class="reviews">
    {{#each reviews}}
      <div class="card" style="width: 18rem;">
        <img src="{{game.thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{game.game_name}}</h5>
            <p class="card-text">{{game.description}}</p>
            <a href="/reviews" class="btn btn-primary">See Reviews</a>
        </div>
      </div>
    {{/each}}
</section>