<form class="standard-form" action="/auth/login" method="POST">
  <h1 class="gamer">PEW PEW</h1>

  {{#each errors}}
    <p class="error text-center">{{this}}</p>
  {{/each}}

  <div class="container">
  <input class="player" type="text" name="email" placeholder="Please enter your email address">
  <input class="player" type="password" name="password" placeholder="Please enter your password">
  <button class="player-btn">GG</button>
  </div>
</form>