<section class="game">
    {{#each reviews}}
      <div class="card review-card" style="width: 18rem;">
        <img src="{{game.thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{game.title}}</h5>
            <p class="card-text">{{game.description}}</p>
            <a href="/reviews/{{game_id}}" class="btn btn-primary">See Reviews</a>
        </div>
      </div>
    {{/each}}
</section>