<div>
    <div class="row">
        <div class="game_name"></div>
    <table class="game_info">
        <tbody>
            <tr>
                <th>Publisher</th>
                    <td colspan="2">
                        <span itemprop="byPublisher">
                            <a title="" itemprop="name" href="" class="publisher"></a>
                        </span>
                    </td>
            </tr>
            <tr>
                <th>Developer</th>
                    <td colspan="2">
                        <span itemprop="byDeveloper">
                            <a title="" itemprop="name" href="" class="developer"></a>
                        </span>
                    </td>
            </tr>
            <tr>
                <th>Release Date</th>
                    <td colspan="2">
                        <span itemprop="release_date"></span>
                    </td>
            </tr>
            <tr>
                <th>Save State rating</th>
                    <td colspan="2">
                        <span itemprop="rating"></span>
                    </td>
            </tr>
            <tr>
                <th>Genre</th>
                    <td colspan="2">
                        <span itemprop="genre"></span>
                    </td>
            </tr>
            <tr>
                <th>Description</th>
                    <td colspan="2">
                        <span itemprop="description"></span>
                    </td>
            </tr>
            <tr>
                <th>Languages</th>
                    <td colspan="2">
                        <span itemprop="languages"></span>
                    </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="column_container_left" class="container_left">
    <div class="cover_art">
        <span itemprop="thumbnail"></span>
    </div>
    <div class="launcher_links_container">
        <a target="_blank" rel="nooper follow" title="Steam" aria-label="Open in Steam Launcher" 
        class="ui_media_link_btn ui_media_link_btn_steam" href=""></a>
         <a target="_blank" rel="nooper follow" title="Epic Games" aria-label="Open in Epic Games Launcher" 
         class="ui_media_link_btn ui_media_link_btn_epicgames" href=""></a>
    </div>
</div>