/* VARIABLES  */
:root {
    --theme-color-black: #030301ff;
    --theme-color-gray: rgb(200, 201, 201);
    --theme-color-blue: rgb(4, 90, 151);
    --theme-color-white: #ffffffff;
}

body {
    background-color: var(--theme-color-gray);
    font-family: 'Courier New', Courier, monospace
}

.navbar {
    background: linear-gradient(to bottom, var(--theme-color-blue), var(--theme-color-gray));
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.custom-width {
    width: 400px;
    border-radius: 10px;
    border: 0px;
    outline: none;
}

.nav-margin {
    margin-right: 20px;
    margin-bottom: 15px;
}

.nav-margin button {
    border-radius: 0;
}

.search-bar {
    margin-bottom: 5px;
}

.search-btn,
.reg-btn,
.login-btn,
.logout-btn,
.about-btn {
    margin: 0 5px;
}

.reg-btn,
.logout-btn,
.login-btn,
.newly-btn,
.rated-btn,
.prof-btn
{ 
    background-color: var(--theme-color-white);
    color: var(--theme-color-black);
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

p footer {
    text-justify: center;
}

.reviews {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.review-card {
    font-family: sans-serif;
    margin-bottom: 1rem;
}

.gamer {
    display: flex;
    justify-content: center;
    color: var(--theme-color--blue);
    margin-top: 450px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.player-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border-radius: 15px;
  background-image: linear-gradient(to top, var(--theme-color-blue), var(--theme-color-gray));
}


.player {
    background-color: #ffffff;
    color: #D671AD;
    border-radius: 15px;
    text-align: center;
}

.footer {
    background: linear-gradient(to top, var(--theme-color-blue), var(--theme-color-gray));
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about_btn {
    background-color: var(--theme-color-white);
    color: var(--theme-color-black);
}

.footer-icon {
    padding-left: 35%;
    max-height: 50px;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.container .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: dodgerblue;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: lightskyblue;
}

input:checked~label {
    color: lightskyblue;
}

input#rate-5:checked~label {
    color: dodgerblue;
    text-shadow: 0 0 20px #952;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
}

form .btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover {
    background: #1b1b1b;
}