/* VARIABLES  */
:root {
    --theme-color-black:  #030301ff;
    --theme-color--battleship-gray: #939598ff;
    --theme-color--steel-blue: #467ea5ff;
    --theme-colo--white: #ffffffff;
}

/* body {
    background-image: url(./space-invaders-1243673.jpg);
} */

.navbar {
    background-color: var(--theme-color--steel-blue);
    height: 50px;
}

.custom-width {
    width: 400px;
    border-radius: 10px;
    border: 0px;
    outline: none;
}

.nav-margin {
    margin-right: 30px;
    margin-bottom: 15px;
   
}

.reg-btn {
    background-color: var(--theme-color--battleship-gray);
}

.login-btn {
    background-color:var(--theme-colo--white);
    color: red;
}

.logout-btn {
    background-color: var(--theme-color--battleship-gray);
}

p footer {
    text-justify: center;
}

.reviews {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.review-card {
  margin-bottom: 1rem;
}

.hero {
    display: flex;
    justify-content: center;
}

.gamer {
    display: flex;
    justify-content: center;
    /* Color add colorwhich matches color scheme */
    color: #17569b;
    margin-top: 450px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
/* most of these colors will chnage to may=tch the color scheme we choose */
.player-btn {
    background-color: #17569b;
    color: red;
    border-radius: 15px;
}

.player {
    background-color: #71D69A;
    color: #D671AD;
    border-radius: 15px;
    text-align: center;
}

.footer {
    background-color: var(--theme-color--steel-blue);
    height: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.about_btn {
    background-color: var(--theme-color--battleship-gray);
    margin-top: 5px;
}

.footer-icon {
    padding-left: 50%;
}

.footer p {
    text-align: right;
    margin-bottom: 25px;

}

.container .star-widget input{
    display: none;
}

.star-widget label{
    font-size: 40px;
    color: dodgerblue;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: lightskyblue;
}
input:checked ~ label{
    color: lightskyblue;
}
input#rate-5:checked ~ label{
    color: dodgerblue;
    text-shadow: 0 0 20px #952;
}
form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 100%;
    width: 100;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
}
form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: #1b1b1b;
}