/* VARIABLES  */
:root {
    --theme-color-black:  #030301ff;
    --theme-color--battleship-gray: #939598ff;
    --theme-color--steel-blue: #467ea5ff;
    --theme-colo--white: #ffffffff;
}

body {
    background-color: var(--theme-color--battleship-gray);
}

.navbar {
    background-color: var(--theme-color--steel-blue);
    height: 50px;
}

.custom-width {
    width: 400px;
    border-radius: 10px;
    border: 0px;
    outline: none;
}

.nav-margin {
    margin-right: 30px;
    margin-bottom: 15px;
   
}
.search-bar {
    margin-bottom: 5px;
 }
.search-btn {
    background-color:var(--theme-colo--white);
    color: red;
}

.reg-btn {
    background-color: var(--theme-color--battleship-gray);
}

.login-btn {
    background-color:var(--theme-colo--white);
    color: red;
}

.logout-btn {
    background-color: var(--theme-color--battleship-gray);
}

p footer {
    text-justify: center;
}

.reviews {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.review-card {
  margin-bottom: 1rem;
}

.hero {
    display: flex;
    justify-content: center;
}

.gamer {
    display: flex;
    justify-content: center;
    /* Color add colorwhich matches color scheme */
    color: var(--theme-color--steel-blue);
    margin-top: 450px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
/* most of these colors will chnage to may=tch the color scheme we choose */
.player-btn {
    background-color: var(--theme-color--steel-blue);
    color: var(--theme-colo--white);
    border-radius: 15px;
}

.player {
    background-color: #71D69A;
    color: #D671AD;
    border-radius: 15px;
    text-align: center;
}

.footer {
    background-color: var(--theme-color--steel-blue);
    height: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.about_btn {
    background-color: var(--theme-color--battleship-gray);
}

.footer-icon {
    padding-left: 45%;
    max-height: 50px;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

