.custom-width {
    width: 400px;
    border-radius: 10px;
    border: 0px;
    outline: none;

}

.nav-margin {
    margin-right: 30px;
}

p footer {
    text-justify: center;
}

.reviews {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.hero {
    display: flex;
    justify-content: center;
}